<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <title>Duolingo - Lesson Complete Screen</title>
  <link rel="stylesheet" href="/css/daily.css">
</head>

<body>

<!-- CONTENT -->
<div class="modal">
  <div class="modal-container">
    <i class="fas fa-times close-modal"></i>
  </div>
</div>

<main>

  <!-- CONTENT -->
  <div class="content">
    <img src="https://d35aaqx5ub95lt.cloudfront.net/images/9cb1bd734855384c2de08fe80443af9f.svg">
    <div class="progress-bar"></div>
    <h2>You've reached your daily goal!</h2>
    <div class="lesson-xp">
      <p>Lesson Complete!</p>
      <p class="text-gold">10 XP</p>
    </div>
    <div class="bonus-xp">
      <p>Combo Bonus!</p>
      <p class="text-gold">5 XP</p>
    </div>
  </div>

  <!-- BOTTOM -->
  <div class="bottom">
    <button class="btn-review">Review Lesson</button>
    <button class="btn-continue">Continue</button>
  </div>

</main>
<script src="/js/daily.js"></script>
</body>

</html>