<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="layout"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duolingo exercise</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div id="score-container">SCORE: <span id="score-point"></span></div>

<div class="wrapper">
    <div class="container">
        <div class="heart-container" id="heart">
        </div>
        <div>
            <div class="timeout"> <span id="countdown"></span></div>
        </div>
    </div>
    <h1 >Write this in English</h1>
    <div id="audio-container"></div>

    <div class="top__container">
        <div class="image_text__container">
            <img src="/image/duo.svg" alt="duo">
            <p id="original__text"></p>
        </div>
        <div id="destination__container">
        </div>
    </div>
    <div id="origin__container">
    </div>
</div>

<!-- Thêm mã HTML cho modal -->
<div class="modal">
    <div class="modal-container" >
        <i class="fas fa-times close-modal"></i>
        <h3>Correct Answer!</h3>
        <p>Your score: <span id="score"></span></p>

        <div class="content">
            <img src="https://d35aaqx5ub95lt.cloudfront.net/images/9cb1bd734855384c2de08fe80443af9f.svg">
            <div class="progress-bar"></div>
            <h2>You are intelligent</h2>
            <div class="lesson-xp">
                <p>Lesson Complete!</p>
                <p class="text-gold">10 XP</p>
            </div>
            <div class="bonus-xp">
<!--                <p>Combo Bonus!</p>-->
<!--                <p class="text-gold">5 XP</p>-->
            </div>
        </div>
        <!-- BOTTOM -->
        <div class="bottom">
            <button id="backHome" class="btn-review" >Back Home</button>
            <button id="continue" class="btn-continue">Continue</button>
        </div>

    </div>

</div>




<footer>
    <div class="clear_button">CLEAR ALL</div>
    <div class="check_button">CHECK</div>
</footer>

<script src="/js/base.js"></script>
<script>
   const backHome = $('#backHome');
   const continue2 = $('#continue');
   backHome.on('click', () => {
       window.location.href = "/quiz/home"
   });


   continue2.on('click', () => {
       window.location.href = "/quiz"
   });

</script>
</body>

</html>