<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="layout"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duolingo exercise</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
<div class="wrapper">

    <div class="container">

        <div class="heart-container" id="heart">
            <div class="heart">&#x2665;</div>
            <div class="heart">&#x2665;</div>
            <div class="heart">&#x2665;</div>
            <div class="heart">&#x2665;</div>
            <div class="heart">&#x2665;</div>
        </div>

        <div class="timeout"> <span id="countdown"></span></div>
    </div>
    <h1>Write this in English</h1>
    <div class="top__container">
        <div class="image_text__container">
            <img src="/image/duo.svg" alt="duo">
            <p id="original__text"></p>
        </div>
        <div id="destination__container">
        </div>
    </div>
    <div id="origin__container">
    </div>
</div>
<footer>
    <div class="skip_button">SKIP</div>
    <div class="check_button">CHECK</div>
</footer>

<script src="/js/base.js"></script>
</body>

</html>